@media all {
    body {
        margin: 0;
        text-align: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        font-size: 1vmax;
        color: black;
        background-color: white;
    }

    .content{
        display: flex;
        justify-content: center;
    }
}
